* {
    background-color: black;
    font-family: monospace;
    font-size: 12pt;
    margin: 0;
}
main,
aside {
    border: 3px rgb(0, 125, 240) solid;
    border-radius: 10px;
    box-shadow: 0 0 50px -10px rgb(0, 125, 240); /* horizontal vertical blur spread */
    margin: 10% auto 0;
    width: 70%;
    position: relative;
    min-height:100%;
    background-size: auto 70%;
}
main {
    padding: 5% 10%;
}

fieldset{
    text-align: center;
    border: none;
    background-color: none;
    width: auto;
}

main input,
main button,
#info button,
#ending {
    background-color: white;
    color: black;
    border: 3px rgb(0, 125, 240) solid;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    height: 15px;
    padding: 5px;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}

#ending{
    margin: auto;
    display: block;
    width: 100px;
    text-align: center;
}

main input{
    width: 80%;
}
main button,
#info button{
    height: 31px;
}
main button:active {
    background-color: rgb(207, 207, 207);
    box-shadow: inset -4px 4px 0 rgb(161, 161, 161);
}

#bad {
    display: block;
    color: red;
    font-weight: bold;
}
@keyframes open {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
aside#info {
    margin-top: 20px;
    color: white;
    padding: 2%;
    animation: 0.5s ease-out 0s 1 open;
    transform-origin: top;
}
aside#info button {
    display: block;
    margin: 5px auto;
}



/*============================ kółko i krzyżyk ============================*/
#kik{
    width: 225px;
    top: 10%;
    position: relative;
    margin: auto;
}
#XO{
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-columns: repeat(3, 75px);
    height: 225px;
    aspect-ratio: 1 / 1;

}

.ttt{
    border: black 1px solid;
    background-color: white;
    margin: 0;
    height: 75px;
    width: 75px;
}

.ttt img{
    height: 75px;
    width: 75px;
}

.ttt:hover{
    background-color: white;
}

#retry{
    background-color: rgba(0,0,0,0.8);
    height: 225px;
    width: 225px;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#retry p{
    color: white;
}
#retry button{
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: none;
}

#noloses{
    color: white;
    font-size: 20pt;
}

#ust{
    height: 60px;
    width: 60px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#ust:active, #exit:active{
    box-shadow: none;
}


#menu{
    background-color: black;
    border: 3px rgb(0, 125, 240) solid;
    box-shadow: inset 0 0 50px -10px rgb(0, 125, 240);
    width: 225px;
    border-radius: 5px;
    margin: auto;
    animation: 0.3s ease-out 0s 1 open;
    transform-origin: top;
}

#menu *{
    background-color: transparent;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

#menu div{
    margin-left: 15px;
    font-weight: 0;
}

#exit{
    grid-area: exit;
    color: rgb(0, 125, 240);
    aspect-ratio: 1/1;
    margin-left: 5px;
    float:right;
}

#exit *{
    vertical-align: middle;
}



#nextTTT{
    margin: auto;
}


#setPlayer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}






/*================================= test  =================================*/

#test{
    max-height: 700px;
    width: 250px;
    margin: 30px auto;
    border: 3px rgb(0, 125, 240) solid;
    border-radius: 5px;
}

#test #odpowiedzi{
    background-color: white;
    align-content: center;
    height: auto;
    padding: 10px;
}

#test #odpowiedzi button{
    display: inline-block;
    margin: 10px auto;
    width: 230px;
    height: 50px;
    font-size: 2vh; 
}

#test #pytanie{
    text-align: center;
    background-color: rgb(159, 186, 207);
    padding: 10px;
}
#test #pytanie *{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
}

#test #pytanie img{
    max-width: 250px;
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

#testLoss{
    border: none;
    width: 250px;
    max-height: 600px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

#textLoss button{
    margin: auto;
}

#testLoss p{
    display: inline;
    color: white;
}

/* ====================================================================== */

